<h5>Basic</h5>
<p-button label="Submit"></p-button>
<p-button label="Disabled" disabled="true"></p-button>
<p-button label="Link" styleClass="p-button-link"></p-button>

<h5>Icons</h5>
<p-button icon="pi pi-check"></p-button>
<p-button label="Submit" icon="pi pi-check"></p-button>
<p-button label="Submit" icon="pi pi-check" iconPos="right"></p-button>

<h5>Severities</h5>
<button pButton pRipple type="button" label="Primary"></button>
<button
  pButton
  pRipple
  type="button"
  label="Secondary"
  class="p-button-secondary"
></button>
<button
  pButton
  pRipple
  type="button"
  label="Success"
  class="p-button-success"
></button>
<button
  pButton
  pRipple
  type="button"
  label="Info"
  class="p-button-info"
></button>
<button
  pButton
  pRipple
  type="button"
  label="Warning"
  class="p-button-warning"
></button>
<button
  pButton
  pRipple
  type="button"
  label="Help"
  class="p-button-help"
></button>
<button
  pButton
  pRipple
  type="button"
  label="Danger"
  class="p-button-danger"
></button>
